<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="HostName" value="localhost:8001"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\wcflogs\SpiralOfTest.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="xml" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <netNamedPipeContextBinding>
        <binding name="InProcFactory" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxReceivedMessageSize="1000000">
          <readerQuotas maxArrayLength="1000000" />
        </binding>
      </netNamedPipeContextBinding>
    </bindings>
    <extensions>
      <bindingExtensions>
        <add name="netNamedPipeContextBinding" type="ServiceModelEx.NetNamedPipeContextBindingCollectionElement, ServiceModelEx" />
      </bindingExtensions>
    </extensions>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="false"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="false"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>
</configuration>