<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <system.serviceModel>
    <extensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TransactionalReliableTCP" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="partyManager"
        address="net.tcp://localhost:8001/PB.SpiralOfTest.Service.Party.IPartyManager"
        binding="netTcpBinding"
        contract="PB.SpiralOfTest.Contract.Party.IPartyManager"
        bindingConfiguration="TransactionalReliableTCP"
        />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:8001"/>
  </appSettings>
</configuration>
