<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <extensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TransactionalReliableTCP" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="partyManager"
        address="net.tcp://localhost:8001/PartyManager"
        binding="netTcpBinding"
        contract="PB.SpiralOfTest.Manager.Party.IPartyManager"
        bindingConfiguration="TransactionalReliableTCP"
        />
    </client>
  </system.serviceModel>
  <appSettings>
  </appSettings>
</configuration>